*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}
body{
    background-color: $bg-light;
}
ul{
    list-style-type: none;
}
.btn{
    padding: 8px;
    font-size: 14px;
    background-color: $bg-primary;
    color: $text-light;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: $bg-secondary;
    color: $text-white;
}

// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}