$bg-primary: #8950FC;
$bg-secondary: #055A92;
$bg-light: #EEF0F8;
$bg-white: #FFFFFF;
$bg-red: #e22222;
$bg-yellow: #10ff08;


$text-primary: #8950FC;
$text-secondary: #055A92;
$text-light: #EEF0F8;
$text-white: #FFFFFF;